{% extends 'base.html' %}
{% load static %}
{% block body %}





 
    <div class="container" id="about">
        <h3>PRODUCT</h3>
        <hr><p>Your new shoping is on the way</p>
        <hr>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-5 py-3 py-md-0">
                <div class="card">
                    <img src="./images/c.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7 py-3 py-md-0">
                <p>Experience the epitome of fashion and convenience with our online clothing store. From trendy streetwear to elegant evening attire, we offer a diverse range of styles to suit every taste and occasion. Our user-friendly platform ensures a seamless shopping experience, allowing customers to browse, select, and purchase their favorite items with ease. With secure payment options and fast delivery, shopping for the latest fashion trends has never been more enjoyable. Join us and elevate your wardrobe with the latest in style and sophistication..</p>
                <button>Read More...</button>
            </div>
        </div>
    </div>








    <!-- offer -->
    <div class="container" id="offer">
      <div class="row">
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-cart-shopping"></i>
          <h3>Free Shipping</h3>
          <p>On order over $1000</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-rotate-left"></i>
          <h3>Free Returns</h3>
          <p>Within 30 days</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-truck"></i>
          <h3>Fast Delivery</h3>
          <p>World Wide</p>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <i class="fa-solid fa-thumbs-up"></i>
          <h3>Big choice</h3>
          <p>Of products</p>
        </div>
      </div>
    </div>
    <!-- offer -->





    
    <!-- newslater -->
    <div class="container" id="newslater">
      <h3 class="text-center">Subscribe To The Clothing Shop For Latest upload.</h3>
      <div class="input text-center">
        <input type="text" placeholder="Enter Your Email..">
        <button id="subscribe">SUBSCRIBE</button>
      </div>
    </div>
    <!-- newslater -->




{% endblock %}
